@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

.hero {
  height: 100vh;
  width: 100vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 60px; 
  background-color: var(--cor-fundo-claro);
  overflow: hidden; 
}

html, body {
  background-color: #f5f5fa;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  gap: 50px;
  padding: 0 20px;
}

.hero-main-content {
  max-width: 600px;
  text-align: left;
}

.hero-main-content h1 {
  font-family: var(--righteous);
  font-size: 64px;
  color: var(--cor-fonte-escura);
  margin-bottom: 20px;
}

.hero-main-content h2 {
  font-size: 24px;
  color: var(--cor-fonte-escura);
  margin-bottom: 34px;
}

.btn-hero-main-content {
  background: var(--cor-principal);
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 24px;
  /* color: var(--cor-fonte-clara); */
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.btn-hero-main-content:hover {
  background: var(--cor-marca-claro);
  color: var(--cor-principal);
}

.hero-main-img img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.hero-main-img img:hover {
  transform: scale(1.05);
}

.desc {
  padding: 75px 20px;
  background-color: var(--cor-fundo-escuro); 
  text-align: center;
  width: 100vw; 
  margin-top: 0; 
}

.desc h3 {
  font-size: 30px;
  color: var(--cor-fonte-clara);
  margin-bottom: 31px;
}

.desc-list p {
  font-size: 18px;
  color: var(--cor-fonte-clara);
  margin-bottom: 10px;
}

.desc-list p strong {
  color: var(--cor-fonte-clara);
}

.dashboard-title{
  text-align: center;
}

@media (max-width: 800px) {
  .hero-main {
    flex-direction: column;
    text-align: center;
  }

  .hero-main-content h1 {
    font-size: 34px;
  }

  .hero-main-content h2 {
    font-size: 18px;
  }

  .btn-hero-main-content {
    font-size: 16px;
    padding: 10px 20px;
  }

  .hero-main-img img {
    max-width: 80%;
  }

  .desc h3 {
    font-size: 20px;
  }

  .desc-list p {
    font-size: 14px;
  }
}
