.footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  border-top: 0.4px solid #d7d7df;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  height: 67px;
}

@media (max-width: 800px) {
  .footer-logo {
    height: 37px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-copy {
    margin-bottom: 20px;
  }
}
