.footer {
  background-color: #f5f5fa;
  padding: 40px 20px; /* Aumenta o padding */
  text-align: center;
  font-size: 14px;
  color: #555;
}

.footer-copy {
  margin-top: 10px; /* Adiciona espaçamento superior */
}

@media (max-width: 800px) {
  .footer {
    padding: 20px;
  }
}
