@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

:root {
  --sarala: "Sarala", sans-serif;
  --righteous: "Righteous", cursive;
  --cor-principal: #f5f5fa;
  --cor-semi-principal: #cccdf4;
  --cor-sub-principal: #4e5caa;
  --cor-marca-escuro: #6f71e0;
  --cor-marca-medio: #4e50aa;
  --cor-marca-claro: #cccff4;
  --azul-claro: #a6b0eb;
  --branco: #fff;
}

* {
  font-family: var(--sarala);
}

html, body {
  overflow-x: hidden;
  background: var(--cor-principal);
}
