html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e3a59; /* Cor de fundo para todo o corpo */
}

/* Div principal (#root já ocupa 100% por padrão no React) */
#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container do card */
.card {
  background: rgba(255, 255, 255, 0.1); /* Fundo semitransparente */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borda sutil */
  border-radius: 15px; /* Borda arredondada */
  padding: 20px;
  width: 350px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
  backdrop-filter: blur(10px); /* Efeito de desfoque no fundo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ícone do perfil */
.profile-icon {
  width: 80px;
  height: 80px;
  background-color: #4a634f; /* Fundo do ícone */
  border-radius: 50%; /* Forma circular */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Cor do ícone */
  font-size: 40px; /* Tamanho do ícone */
  margin-bottom: 20px;
}

/* Título do formulário */
.card h2 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 20px;
}

/* Inputs do formulário */
.card input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Botão de submit */
.card .submit {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 40px;
  background-color: #4a634f; /* Verde escuro */
  color: white;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
}

/* Opções adicionais (lembre-me e esqueci minha senha) */
.card-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.9rem;
  margin-top: 10px;
  color: #ccc;
}

.card-options a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.card-options a:hover {
  text-decoration: underline;
}
