.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7fc; 
  position: relative;
}

/* Botão de voltar */
/* .back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  font-size: 0.9rem;
  cursor: pointer;
  text-transform: uppercase;
} */

.card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  width: 350px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-icon {
  width: 80px;
  height: 80px;
  background-color: #f5f5fa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.card h2 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 20px;
}

/* .card input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  box-sizing: border-box;
} */

.card .submit {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 40px;
  background-color: #383838;
  color: #f5f5fa;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
}

.submit:hover {
  background-color: #555; 
}

.input-group {
  display: flex;
  align-items: center;
  margin: 10px 0;
  background: #fff; 
  border-radius: 5px; 
  padding: 5px 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); 
}

.input-group input {
  border: none; 
  outline: none;
  flex: 1;
  font-size: 1rem;
  padding: 10px;
}

.input-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px; 
}

/* Adicione ou verifique o seguinte estilo em seu arquivo login.css */
.link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}