.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-logo h2 {
    margin: 0;
    font-size: 1.8rem;
    color: white;
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  .navbar-login-button {
    color: white;
    text-decoration: none;
    background-color: #007bff;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .navbar-login-button:hover {
    background-color: #0056b3;
  }
  